body{
    background-color: white;
    font-style:inherit;
    color:black;
    background-image: url(/img/61.jpg)
    }

p{
    background-color: yellow;  
    color:black;
    text-align: center;
}

p:hover{
    background-color: blue;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

img{
    height: 120px;
}

.box{
    background-color: rgb(184, 214, 221);
    padding: 20px;
    margin-left: 120px;
    margin-right: 120px;
}

table{ 
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
}

